@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import "tailwindcss";

*{
  font-family: "Manrope", sans-serif;
  box-sizing:border-box;
}
body{
  background-color:#4F2C60;
}

@theme{
  --color-primary:#4F2C60;
  --color-secondary:#643712;

  @keyframes eqBar1 {
    0%,
    100% {
      height:20%;
    }
    50%{
      height:90%;
    }
  }
}
@keyframes eqBar2 {
  0%,
  100%{
    height:40%;
  }
  50%{
    height:100%;
  }
}
@keyframes eqBar3 {
  0%,
  100%{
    height:70%;
  }
  50%{
    height:30%;
  }
}
@keyframes eqBar4{
  0%,
  100%{
    height:30%;
  }
  50%{
    height:80%;
  }
}
@keyframes pluseRing{
  0%{
    transform:scale(1);
    opacity:1;
  }
  70%{
    transform: scale(1.4);
    opacity:0
  }
  100%{
    transform: scale(1);
    opacity:0;
  }
}
@keyframes bubbleOne{
  0%{
    bottom:-20%;
    left:-10%;
    opacity:0;
    transform: scale(0.3);
  }
  50%{
    bottom:0;
    left:0;
    opacity:1;
    transform:scale(1.05)
  }
  100%{
    bottom: 0;
    right:0;
    opacity:1;
    transform: scale(1);
  }
}
@keyframes bubbleTwo{
  0%{
    bottom:0px;
    left:-40%;
    opacity:0;
    transform: scale(0.25);
  }
  50%{
    bottom:30px;
    left:0px;
    opacity:1;
    transform:scale(1)
  }
  100%{
    bottom: 30%;
    left:0px;
    opacity:1;
    transform: scale(1);
  }
}

@keyframes bubbleThree{
  0%{
    bottom:30%;
    left:30%;
    opacity:0;
    transform: scale(0.35);
  }
  50%{
    bottom:63%;
    left:57%;
    opacity:1;
    transform:scale(1)
  }
  100%{
    bottom: 63%;
    left:57%;
    opacity:1;
    transform: scale(1);
  }
}
@keyframes onovoCtaCircle{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(0.85);
  }
  100%{
    transform: scale(1);
  }
}
@keyframes onovoCtaCircleTwo{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(0.75);
  }
  100%{
    transform: scale(1);
  }
}
@keyframes onovoCtaCircleThree {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(0.65);
  }
  100%{
    transform: scale(1);
  }
}
@layer utilities {
  .animate-eq1 { animation: eqBar1 1s infinite ease-in-out; }
  .animate-eq2 { animation: eqBar2 1.1s infinite ease-in-out; }
  .animate-eq3 { animation: eqBar3 0.9s infinite ease-in-out; }
  .animate-eq4 { animation: eqBar4 1.2s infinite ease-in-out; }

  .novo-bubble .bubbleOne{
    animation: 2.5s cubic-bezier(0.3, 0, 0.3,1) 0s 1 normal forwards running bubbleOne;
  }
  .novo-bubble .bubbleTwo{
    animation: 1.5s cubic-bezier(0.3, 0, 0.3,1) 0s 1 normal forwards running bubbleTwo;
  }
  .novo-bubble .bubbleThree{
    animation: 2s cubic-bezier(0.3, 0, 0.3,1) 0s 1 normal forwards running bubbleThree;
  }
  @keyframes gradient-swipe {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.gradient-animate {
  background-size: 200% 200%;
  animation: gradient-swipe 3s linear infinite;
}
}


/* Custom Css */
.btn {
  padding: 0 30px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  font-size:16px;
  color:white;
  font-weight:700;
  height:66px;
  line-height:66px;
  text-decoration: none;
  outline: none !important;
  cursor: pointer;
  border: none;
  text-align: center;
  background-color:var(--color-secondary);
  transition: all .4s cubic-bezier(.3, 0, .3, 1);
}

.btn::after{
  content: '';
  position: absolute;
  bottom:0;
  left:0;
  width: 100%;
  height:0%;
  background-color: var(--color-secondary);
  transition: all .4s cubic-bezier(.3, 0, .3, 1);
}
.btn:hover span{
  color:white;
}
.btn svg {
  margin:0 10px 0 -10px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height:30px;
  line-height: 30px;
  border-radius: 30px;
  text-align: center;
  padding: 3px;
  transform: scale(.87);
  background-color: white;
  color:black;
  transition: all .4s cubic-bezier(.3, 0, .3, 1);
  z-index:2;
}
.btn:hover svg {
  background-color: var(--color-secondary);
  color:white;
}

.btn:hover svg{
  transform:scale(1);
}
.btn span{
  position: relative;
  display: inline-block;
  z-index:2;
}
.contact{
  background-image: url(assets/contact.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.contact-wrapper {
  position: relative;
  width: 450px; /* match the visual size you want */
  height: 450px;
}

.contact-image {
  position: absolute;
  right: -1px;     /* pushes it partly off-screen */
  top: 50%;
  transform: translateY(-50%);
  width: 900px;      /* adjust based on your PNG size */
  height: 900px;
  background-image: url('assets/cta-circle2.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
}

.cat-img-circle {
  position: absolute;
  background-color: #643712;
  border-radius: 50%;
}

.img-circle--1 {
  position: absolute;
  right: 100px;
  top: 150px;
  width: 110px;
  height: 110px;
  background-color: #643712; /* your brand brown */
  border-radius: 50%;
  z-index: 3;
  animation: 4.5s cubic-bezier(0.3, 0, 0.3, 1) infinite onovoCtaCircle;
}
.img-circle--2 {
  position: absolute;
  right: 200px;
  top: -0.41%;
  width: 110px;
  height: 110px;
  background-color: #643712; /* your brand brown */
  border-radius: 50%;
  z-index: 3;
  animation: 5.5s cubic-bezier(0.3, 0, 0.3, 1) infinite onovoCtaCircleTwo;
}
.img-circle--3 {
  position: absolute;
  right: 40px;
  top: -20px;
  width: 80px;
  height: 80px;
  background-color: #643712; /* your brand brown */
  border-radius: 50%;
  z-index: 3;
  animation: 6.5s cubic-bezier(0.3, 0, 0.3, 1) infinite onovoCtaCircleThree;
}
.social-icon {
  position:relative;
  width:-60px;
}
@media (max-width: 1400px) {
  .contact-image{
    display:none;
  }
}

.social-icon::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: aliceblue;
  transition: all .4s cubic-bezier(.3,0,.3,1);
}

.social-icon:hover::after {
  height: 100%;
  top: 0;
  bottom: auto;
}

.social-icon span {
  transition: color .3s;
}

.social-icon:hover span {
  color: var(--color-secondary);
  z-index: 9;
}

.social-icon svg {
  margin: 0 10px 0 -10px;
  transform: scale(0.87);
  transition: all .4s cubic-bezier(.3,0,.3,1);
  z-index: 2;
}

.social-icon:hover svg {
  background-color: #643712;
  color: white;
  border-radius: 30px;
  transform: scale(1);
}

/* .social-icons{
  width: auto;
}
@media (max-width: 400px) {
  .contact-image{
    display:none;
  }
  .contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
}
.social-icons::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: aliceblue;
  transition: all .4s cubic-bezier(.3,0,.3,1);
}
.social-icons:hover:after{
  height:100%;
  top:0;
  bottom:auto;
}
.social-icons:hover span {
  color: var(--color-secondary);
  z-index:9;
}
.social-icons svg {
  margin: 0 10px 0 -10px;
  transform: scale(0.87);
  transition: all .4s cubic-bezier(.3,0,.3,1);
  z-index:2;
}

.social-icon:hover svg{
  background-color: #643712;
  color:white;
}
.social-icon:hover svg {
  transform: scale(1);
} */

/* brand */

.brand-item span{
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight:700;
  z-index:2;
  opacity:0;
  background-color: var(--color-secondary);
  color:white;
  transform:translateY(8px) scale(.8);
  transition: all .4s cubic-bezier(.3,0,.3,1);
}
.brand-item:hover span {
  opacity:1;
  transform: translateY(0) scale(1);
  -webkit-transform: translateY(0) scale(1);
}